//MOBILE---------------------------------------------------------------------------
.container{
  padding: 0 16px 0 16px;
}
.heading-l{
  font-family: Fraunces;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
}
.heading-m{
  font-family: Fraunces;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
.heading-s{
  font-family: Fraunces;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.header{
  background-color: var(--dark-purple);
  position: relative;
  overflow: hidden;
}

.header__pattern1{
  display: none;
}
.header__pattern2{
  display: none;
}


.header-top{
  display: flex;
  justify-content: space-between;
  padding-top:32px;
  padding-bottom: 66px;

}
.header-top__access{
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
  border-bottom: solid 2px var(--eucaplyptus);

}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 115px;
}

.header-content__title{
  color: var(--white);
  text-align: center;

}

.header-content__underline{
  text-decoration-line: underline;
  text-decoration-color: var(--eucaplyptus);


}


.header-content__btn-learn-more{
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  width: 133px;
  height: 55px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin: auto;
  margin-top: 51px;
}

.header-content__btn-learn-more:hover{
  background-color: var(--dark-purple);
  color: var(--eucaplyptus);
  border: solid 1px var(--ghost-white);
  transition: 0.5s;
}

.header-curve {
  // border: 2px solid red;
  background-color: var(--dark-purple);
  height: 32px;
  border-radius: 0% 0% 100% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -1px;
}

.header__img-container{
  background-color: var(--ghost-white);
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 150px;
}
.header__img-celphone{
  position: absolute;
  width: 298px;
  height: 178px;
  bottom: 65px;
}

.content{
  background-color: var(--ghost-white);

}
.content__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.content__number{
  font-family: Fraunces;
  color: var(--dark-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 46px;
  border: solid 1px;
  border-radius: 50%;
  font-weight: 700;
  margin: auto;
  margin-bottom: 20px;
}

.content__text{
  text-align: center;

}

.content-curve{
  //border: 2px solid red;
  background-color: var(--ghost-white);
  height: 32px;
  border-radius: 0% 0% 100% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -1px;
}

.action{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.action__founder-img{
  width: 265px;
  height: 267px;
  z-index: -1;
}

.action__text{
  margin-top: -50px;
  background-color: var(--dark-purple);
  color: var(--white);
  text-align: center;
  padding: 16px;

}

.action__button{
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  width: 172px;
  height: 55px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin: auto;
  margin-top: 24px;
}
.action__button:hover{
  background-color: var(--dark-purple);
  color: var(--eucaplyptus);
  border: solid 1px var(--ghost-white);
  transition: 0.5s;
}

.action__text-pattern{
  display: none;
}

.footer{
  margin-top: 74px;
  display: flex;
  flex-direction: column;


}

.footer__brand{
  display: flex;
  justify-content: center;
}

.footer__social-media{
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 50px;


}

//TABLET---------------------------------------------------------------------------
@media (min-width: 768px) {
  .heading-l{
    font-size: 60px;
    line-height: 60px;
  }
  .heading-m{
    font-size: 48px;
    line-height: 56px;
  }
  .heading-s{
    font-size: 28px;
    line-height: 36px;
  }

  .header__pattern1{
    display: block;
    position: absolute;
    left: -210px;
    top: 80px
  }
  .header__pattern2{
    display: block;
    position: absolute;
    right: -60px;
    top: 300px
  }

  .header-content{
    padding-bottom: 163px;
  }

  .header-content__title{
    color: var(--white);
    text-align: center;
    padding: 0px 98px 0px 97px;

  }

  .header__img-celphone{
    width: 479px;
    height: 286px;
    bottom: 0px;
  }
  .content__card{
    flex-direction: row;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
  }

  .content__number{
    min-width: 48px;

    margin: auto 15px auto 0;

  }

  .action{

    align-items: start;
    margin-right: 70px;

  }

  .action__text{
    margin-top: -100px;
    min-width: 514px;
    text-align: left;
    padding: 16px;
    margin-left: auto ;
    margin-right:25px;
    margin-left:200px;
    position: relative;

  }

  .action__text-pattern{
    display: inline;
    position: absolute;
    width: 173px;
    height: 137px;
    right: -10px;
    bottom: -65px;

  }

  .footer__social-media{

    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;


  }





}

//DESKTOP---------------------------------------------------------------------------
@media (min-width: 1440px) {
  .heading-l{
    font-size: 80px;
    line-height: 80px;
  }
  .heading-m{
    font-size: 56px;
    line-height: 64px;
  }
  .heading-s{
    font-size: 32px;
    line-height: 40px;
  }

  .container {
    max-width: 1150px;
    margin: auto;
  }

  .header__pattern1{
    left: -150px;

  }
  .header__pattern2{
    right: -70px;
  }

  .header-content{
    padding-bottom: 300px;
  }


  .header__img-celphone{
    width: 715px;
    height: 427px;

  }

  .content{
    display: flex;
    padding: 50px 100px 50px 100px;
  }

  .content__cards-container{
    max-width: 1120px;
    display: flex;
    margin: auto;
  }

  .content__card{
    flex-direction: column;
    padding: 30px;
  }

  .content__number{
    margin: auto;
    margin-bottom: 25px;
  }



  .action{
    margin-top: 100px;
  }




  .action__founder-img{
    width: 450px;
    height: 453px;
    z-index: -1;

  }

  .action__text{
    margin-top: -150px;
    width: 730px;
    height: 413px;
    padding: 64px;

  }

  .action__text-pattern{
    display: inline;
    position: absolute;
    width: 193px;
    height: 157px;
    right: 90px;
    bottom: -50px;

  }


  .footer{
    margin-top: 121px;
  }

  .footer__social-media{

    margin-top: 80px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;


  }
}
