.background-purple{
  background-image: url( '../assets/images/Rectangle-purple.svg' );
  background-repeat: no-repeat;
  background-color: #FCF8FF;

}


.background-grey {
  background-image: url( '../assets/images/Rectangle-grey.svg' );
  background-repeat: no-repeat;
  background-size: cover;

}

.row{
  --bs-gutter-x:0;
}

#celphone{
  position: absolute;
  top: 454px;
  left: 368px;
}
