<div class="header">
  <img class="header__pattern1" src="../assets/images/bg-pattern-1.svg" alt="pattern1">
  <img class="header__pattern2" src="../assets/images/bg-pattern-2.svg" alt="pattern1">
  <div class="header-top container">
    <img class="header-top__brand" src="../assets/images/logo-light.svg" alt="brand">
    <a class="header-top__access"> Apply for access</a>
  </div>
  <div class="header-content container">
    <h1 class="header-content__title heading-l">Data <span class="header-content__underline">tailored</span> to your needs.</h1>
    <button class="header-content__btn-learn-more">Learn more</button>
  </div>
</div>
<div class="header-curve">

</div>
<div class="header__img-container">
  <img src="../assets/images/image-hero.webp" alt="" class="header__img-celphone">

</div>
